.discuss-box {
    margin-left: 17px;
    padding-left: 10px;
    border-left: solid 1px #adb5bd;
}
.card-text > .btn {
    width: 25px;
    padding: 0;
    margin: 2px 5px 0;
}
.card-text > .heart-wrap {
    float: right;
    width: 50px;
    font-size: small;
}
.card-text > .heart-wrap > .heart {
    margin-right: 5px;
}
.invalid-feedback.center {
    text-align: center;
}
.account-header {
    display: flex;
    background: white;
    border-radius: 4px;
    padding: 2px;
    min-width: 170px;
    justify-content: flex-end;
    align-items: center;
    height: 38px;
}
.account-header .balance,
.account-header .heart {
    min-width: 25px;
    padding: 0 5px;
}
.account-header button {
    margin-left: 5px;
}
.account .tab-pane > div {
    padding: 10px 5px;
}
.account .tab-pane {
    max-height: 300px;
    overflow: auto;
}
.account-list-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.account-list-item span {
    min-width: 20px;
    display: block;
}
.account-list-item:hover {
    background: #dee2e6;
}
span.tx-id, span.tx-amount,
span.order-id, span.order-price, .order-likes {
    text-align: right;
}
span.tx-amount,
span.order-price {
    min-width: 65px;
}
span.tx-type {
    text-align: center;
    min-width: 65px;
}
.summary span {
    float: right;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.boosterpacks, .posts {
    margin: 30px 0;
}
.invalid-feedback {
    display: block;
}
.nav-item{
    list-style: none;
    margin-right: 15px;
}
.modal-body .post-img {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-body .card-img-top {
    width: auto;
    max-width: none;
    max-height: 500px;
}
#postModal .form-group {
    flex: 1 0 auto;
}
#postModal .form-group input{
    width: 100%;
}
.user .avatar {
    border-radius: 100%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}
.user .avatar img{
    width: 100%;
}
.user .name {
    margin-left: 20px;
}
.likes {
    margin-bottom: 15px;
    cursor: pointer;
}
.heart-wrap {
    display: flex;
    align-items: center;
}
.likes .heart{
    margin-right: 5px;
}

